<section>
  <div class="main-container">
    <h1 data-str="Գիտելիքներ">Գիտելիքներ</h1>
    <span routerLink="">Գլխավոր էջ</span>
  </div>
  <app-cube [cube_content]="cube_images"></app-cube>
  <div class="skills-container">
    <div class="animated-box"></div>
    <div class="skills-box">
        <div class="content">
            <div class="language-box">
                <p>HTML</p>
                <p>CSS</p>
                <p>SASS</p>
                <p>Javascript</p>
                <p>Typescript</p>
                <p>Angular</p>
            </div>
            <div class="description">
                <p>Սիրում եմ աշխատել իրական "HTML" կառուցվածքի հետ,
                    երևի դա էլ պատճառներից մեկն է որը ինձ ձգում է դեպի
                    "Angular" հարթակ, և այս պորտֆոլիոն նույնպես գրված է "Angular"-ով։ 
                    Բացի այդ, "Angular"-ը ունի մի 
                    շարք այլ առավելություններ, բայց եթե հակիրճ լինեմ, այն թույլ է տալիս 
                    հեշտ մանիպուլյացիայի ենթարկել "HTML" կառուցվածքը։ 
                    Կայքի "ոճը" նախնտրում եմ գրել SCSS-ով։ 
                </p>
            </div>
        </div>
    </div>
  </div>
  <app-route-arrows [page_numbers]="[2, 3]"></app-route-arrows>
</section>
