<section>
  <div class="main-container">
    <h1 data-str="պորտֆոլիո">պորտֆոլիո</h1>
    <span routerLink="">Գլխավոր էջ</span>
  </div>
  <div class="portfolio-box">
    <div class="animated-box">
    </div>
    <div class="portfolio">
      <div class="link-box" *ngIf="hide_details">
        <a href="https://zola.am" target="_blank" title="Տեսնել կայքը">zola.am</a>
        <a href="https://improvity.am" target="_blank" title="Տեսնել կայքը">improvity.am</a>
        <a href="https://lingvozone.am" target="_blank" title="Տեսնել կայքը">lingvozone.am</a>
      </div>
      <div class="site-pictures" *ngIf="hide_details">
        <div class="img-box zola" (click)="showDetails('zola', 0)" title="Ծանոթանալ նյութին">
            <img src="../../../assets/images/sites/zola.PNG" alt="">
        </div>
        <div class="img-box improvity" (click)="showDetails('improvity', 1)" title="Ծանոթանալ նյութին">
            <img src="../../../assets/images/sites/improvity.PNG" alt="">
        </div>
        <div class="img-box lingvo" (click)="showDetails('lingvo', 2)" title="Ծանոթանալ նյութին">
            <img src="../../../assets/images/sites/lingvo.PNG" alt="">
        </div>
      </div>
      <div class="information" *ngIf="!hide_details">
        <div class="route-box">
            <span class="route" routerLink="" title="Գլխավոր էջ">Գլխավոր էջ</span>
            <span class="route" (click)="showDetails('back')" title="Գնալ հետ">Գնալ հետ</span>
        </div>
        <ng-container [ngSwitch]="info_type">
          <div class="info-box">
            <p *ngSwitchCase="'zola'" class="title">« zola »</p>
            <p *ngSwitchCase="'improvity'" class="title">« improvity »</p>
            <p *ngSwitchCase="'lingvo'" class="title">« lingvozone »</p>
            <div class="text-box">
              <p>{{description}}</p>
              <a [href]="path" target="_blank">{{path_name}}</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-route-arrows [page_numbers]="[0, 1]"></app-route-arrows>
</section>
