<app-nav></app-nav>
<div class="wrapper">
  <section>
    <div class="name-and-image">
      <div class="text-box">
        <h1 [ngClass]="text_color">լիլիթ կոստանյան <span>|</span></h1>
        <h2 [ngClass]="text_color"><span>|</span> ես կրեատիվ front-end ծրագրավորող եմ</h2>
      </div>
      <div class="img-container">
        <img class="img-1" src="../../../assets/images/1.jpg" alt="">
        <img class="img-2" src="../../../assets/images/1.jpg" alt="">
        <div class="border"></div>
      </div>
    </div>
    
    <div class="portfolio">
      <div class="portfolio-box">
        <h3>պորտֆոլիո</h3>
        <div class="zola site">
          <img src="../../../assets/images/svg/Zola.webp" alt="">
          <div class="text-box">
            <p class="label">ZOLA</p>
            <p>Դռների և պատուհանների արտադրման կազմակերպության կայք...<br>
              <small>Կայքին ծանոթանալու համար սեղմեք ներքևի կոճակը</small>
            </p>
            <a href="portfolio" routerLink="portfolio" class="btn">տեսնել ավելին</a>
          </div>
        </div>

        <div class="improvity site">
          <img src="../../../assets/images/svg/Improvity.svg" alt="">
          <div class="text-box">
            <p class="label">IMPROVITY</p>
            <p>"IMPROVITY" ծրագրավորման կազմակերպության կայք... <br>
              <small>Կայքին ծանոթանալու համար սեղմեք ներքևի կոճակը</small>
            </p>
            <a href="portfolio" routerLink="portfolio"  class="btn">տեսնել ավելին</a>
          </div>
        </div>

        <div class="lingvozone site">
          <img src="../../../assets/images/svg/logotwo.png" alt="">
          <div class="text-box">
            <p class="label">LINGVOZONE</p>
            <p>Լեզուների ուսուցման առցանց հարթակ... <br>
              <small>Կայքին ծանոթանալու համար սեղմեք ներքևի կոճակը</small>
            </p>
            <a href="portfolio" routerLink="portfolio"  class="btn">տեսնել ավելին</a>
          </div>
        </div>

      </div>
    </div>


    <div class="experience ">
      <div class="experience-box">
        <h3>աշխատանքային փորձ</h3>
        <div class="experience">
          <i class="fa-solid fa-code" style="color: #02fc02;"></i>
          <div class="text-box">
            <p>IT բնագավառում գտնվում եմ ավելին քան մեկ ու կես տարի․․․<br>
              <small>Ավելին իմանալու համար սեղմեք ներքևի կոճակը</small>
            </p>
            <a href="experience" routerLink="experience" class="btn">տեսնել ավելին</a>
          </div>
        </div>
      </div>
    </div>

    <div class="experience">
      <div class="experience-box">
        <h3>գիտելիքներ</h3>
        <div class="experience">
          <i class="fa-sharp fa-solid fa-cubes" style="color: #02fc02;"></i>
          <div class="text-box">
            <div class="icon-box">
              <div class="icon">
                <img class="pin" src="../../../assets/images/svg/pin.png" alt="">
                <img src="../../../assets/images/svg/html.png" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="../../../assets/images/svg/pin.png" alt="">
                <img src="../../../assets/images/svg/css.webp" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="../../../assets/images/svg/pin.png" alt="">
                <img src="../../../assets/images/svg/sass.png" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="../../../assets/images/svg/pin.png" alt="">
                <img src="../../../assets/images/svg/js.png" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="../../../assets/images/svg/pin.png" alt="">
                <img src="../../../assets/images/svg/ts.svg" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="../../../assets/images/svg/pin.png" alt="">
                <img src="../../../assets/images/svg/ng.png" alt="">
                <div class="back-plan"></div>
              </div>
            </div>
            <p><small>Մանրամասն ծանոթանալու համար սեղմեք ներքևի կոճակը</small></p>
            <a href="skills" class="btn">տեսնել ավելին</a>
          </div>
        </div>
      </div>
    </div>
    <div class="experience">
      <div class="experience-box">
        <h3>իմ մասին</h3>
        <div class="experience">


          <img class="icon img" src="../../../assets/images/svg/user.PNG" alt="">
          <div class="text-box">
            <div class="about-me-box">
              <div class="about-me-img-and-text">
                <img src="../../../assets/images/svg/jew.png" alt="">
                <p>Ոսկերչություն</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="../../../assets/images/svg/singer.png" alt="">
                <p>Երգարվեստ</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="../../../assets/images/svg/accountant.png" alt="">
                <p>Հաշվապահություն</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="../../../assets/images/svg/pc.png" alt="">
                <p>Համակարգիչների վերանորոգում (տեխնիկական և ծրագրային սպասարկում)</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="../../../assets/images/svg/manicure.png" alt="">
                <p>Պրոֆեսիոնալ մատնահարդարում</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="../../../assets/images/svg/sol.png" alt="">
                <p>Երաժշտական ուսուցում</p>
              </div>
            </div>
            <p><small>Ավելին իմանալու համար սեղմեք ներքևի կոճակը</small></p>
            <a href="about-me" class="btn">տեսնել ավելին</a>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>
