$color1: rgb(116, 1, 248, .3);
$color2: rgb(248, 1, 166, .3);
$color3: rgb(1, 248, 55, .3);
$color4: rgb(26, 1, 248, .3);
$color5: rgb(248, 244, 1, .3);
$color6: rgb(248, 1, 1, .3);

.cube-experiment{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 100px auto;
    perspective: 800px;
    .cube-box{
        width: inherit;
        height: inherit;
        transform-style: preserve-3d;
        transform: rotate3d(1, 1, 1, 45deg);
        .cube{
            width: inherit;
            height: inherit;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 40px;
            color: white;
            img{
                width: 100px;
            }
        }
    }
}
.cube.front{
    transform: translateZ(100px);
}
.cube.back {
    transform: rotateY(180deg) translateZ(100px);
}
.cube.right{
    transform: rotateY(90deg) translateZ(100px);
}

.cube.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube.top {
    transform: rotateX(90deg) translateZ(100px);
}
.cube.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}
$colors: $color1, $color2, $color3, 
         $color4, $color5, $color6;

@for $i from 1 to 6 {
    .cube:nth-child(#{$i}) {
        background-color: nth($colors, $i);
    }
}

@keyframes cube {
    from {transform: rotateY(0deg) rotateX(0deg); }
    to {transform: rotateY(360deg) rotateX(360deg); }
}

.cube-box{
    animation: cube 15s linear infinite;
}