<div class="btn-box">
    <a title="գլխավոր էջ" class="back arrow" (click)="arrowLeft()"><i class="fa-solid fa-backward" style="color: #02fc02;"></i></a>
    <a (click)="arrowRight()" class="forward arrow"><i class="fa-sharp fa-solid fa-forward" style="color: #02fc02;"></i></a>
</div>