:root {
  --main-color-dark: #141414;
  --main-color: #cccccc;
  --button-font-size: 15px;
  --main-background-color: #02fb02;
  --main-font-size: 20px;
  --h3-font-size: 38px;
}

@mixin main-container {
  width: 90%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

@mixin section {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color-dark);
}

@mixin button-hover($width) {
  text-transform: uppercase;
  padding: 10px 5px;
  border-radius: 5px;
  transition: .5s;
  font-size: var(--button-font-size);
  box-shadow: 0px 1px 9px #02fb0200;
  box-shadow: inset 0px 1px 9px #02fb0200;

  &:hover {
    width: $width;
    box-shadow: inset 0px 1px 9px #02fb02;
    text-shadow: 0px 1px 4px #02fb02;
    border-color: #02fb0200;
    border-radius: 22px;
  }
}

@mixin route-to-main-page {
  color: var(--main-background-color);
  cursor: pointer;
  height: max-content;

  &:hover {
    text-shadow: 0px 0px 12px #00AC4D;
  }

  &:active {
    color: #03ca03;
  }
}

@mixin h1-title-shadow($data) {
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  line-height: 36px;
  color: var(--main-color);

  &::after {
    content: attr($data);
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(180deg) rotateX(311deg);
    background: linear-gradient(0deg, var(--main-color), transparent 91%);
    background-clip: text;
    color: transparent;
    opacity: 0.3;
  }
}

@mixin animated-universal-container($animated-box, $inner-container) {
  width: 75%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 8px 8px 12px black;
  overflow: hidden;

  #{$animated-box} {
    width: 235%;
    height: 63%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: conic-gradient(var(--main-background-color) 20deg, transparent 120deg);
    animation: rotate 5s infinite linear;
  }

  #{$inner-container} {
    width: calc(100% - 6px);
    height: 494px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color-dark);
    z-index: 1;
    box-shadow: inset 8px 8px 22px #0000008a;
    padding: 30px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1160px) {

  :root {
    --h3-font-size: 2em;
  }

}


@media screen and (max-width: 650px) {

  :root {
    --main-font-size: 0.93em;
    --button-font-size: 0.93em;
  }

}


@media screen and (max-width: 500px) {

  :root {
    --h3-font-size: 1.5em;
  }

}

