<nav>
    <ul>
        <div class="fire-ball"></div>
        <li  class="item" (click)="scrollToBottom()">կապ ինձ հետ</li>
        <li  class="item" routerLink="portfolio">պորտֆոլիո</li>
        <li  class="item" routerLink="experience">աշխատանքային փորձ</li>
        <li  class="item" routerLink="skills">գիտելիքներ</li>
        <li  class="item" routerLink="about-me">իմ մասին</li>
    </ul>
</nav>