<footer>
    <div class="line"></div>
    <div class="info-box">
        <div class="contact">
            <i class="fab fa-telegram" style="color: #cccccc;"></i>
            <i class="fa-brands fa-linkedin" style="color: #cccccc;"></i>
            <i class="fa-solid fa-envelope" style="color: #cccccc;"></i>
            <i class="fa-solid fa-phone" style="color: #cccccc;"></i>
        </div>
        <div class="about">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="arrow-box" (click)="scrollTop()">
        <i class="fa-solid fa-circle-up" style="color: #02fc02;"></i>
    </div>
</footer>