@use '../../style-variables/variables.scss' as *;

footer{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color-dark);
}
.info-box{
    width: 75%;
    min-height: max-content;
    display: flex;
    .contact{
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .fa-telegram,
        .fa-linkedin,
        .fa-envelope {
            font-size: 25px;
        }
        .fa-phone{
            font-size: 20px;
        }
    }
}
.line{
    width: 70%;
    height: 0.5px;
    background-color: #cccccc29;
}

.arrow-box{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    align-self: flex-end;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    i{
        font-size: 60px;
    }
}