<section>
  <div class="main-container">
    <h1 data-str="Աշխատանքային փորձ">Աշխատանքային փորձ</h1>
    <span routerLink="">Գլխավոր էջ</span>
  </div>
  <div class="experience-container">
    <div class="animated-box"></div>
    <div class="experience-box">
      <p>Վեց ամսյա HTML, CSS, SASS, Bootstrap, JavaScript, ReactJS
        ուսումը ավարտելուց հետո ընդունվել եմ "Improvity" ընկերությունում
        որպես Junior front-end ծրագրավորող և աշխատել եմ մեկ ու կես տարի։ Ձեռք եմ բերել՝ 
        թե մասնագիտական և թե թիմային աշխատանքի մեծ փորձ։ 
      </p>
    </div>
  </div>
  <app-route-arrows [page_numbers]="[1, 2]"></app-route-arrows>
</section>
