@use '../../style-variables/variables.scss'as*;

section {
  @include section
}

h1 {
  @include h1-title-shadow(data-str)
}

.main-container {
 @include main-container;

  span {
    @include route-to-main-page
  }
}

.experience-container {
  margin-top: 30px;
  @include animated-universal-container('.animated-box', '.experience-box')
}

.experience-box {
  justify-content: flex-start !important;
  p{
    text-indent: 15px;
    line-height: 2;
  }
}